<!DOCTYPE html>
<html lang="en">
{%include 'base/header.html'%}

<body class="">
  <div class="wrapper ">
    <div class="main-panel-login">
        <div class="login-page">
            <div class="container">
          <div class="row">
            <div class="col-sm-8 ml-auto mr-auto">
                {% if form.errors %}
                  {% for field in form %}
                      {% for error in field.errors %}
                        <div class="alert alert-danger">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                          </button>
                          <span><b> Error - </b> {{ error|escape }}</span>
                        </div>
                      {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                      <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <i class="material-icons">close</i>
                        </button>
                        <span><b> Warning - </b> {{ error|escape }}</span>
                      </div>
                  {% endfor %}
              {% endif %}
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Password Reset</h4>
                  <p class="card-category">Forgot your password? Fill out the form below and a new password will be sent to you.</p>
                  {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                  {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'account_reset_password' %}">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" class="form-control" id="id_email" name="email">
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Reset Password</button>
                    <div class="clearfix"></div>
                  </form>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="center-login-extras">
                    <h6> Go back to the login page by clicking <a href=/accounts/login>HERE.</a></h>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</html>
