<!DOCTYPE html>
<html lang="en">
{%include 'base/header.html'%}
<body class="">
  <div class="wrapper ">
    <div class="login-page">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 ml-auto mr-auto">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Password Reset</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                                  <p>Your password reset is now complete</p>
                                  <h6> Go back to the login page by clicking <a href=/accounts/login>HERE.</a></h6>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
