<!DOCTYPE html>
<html lang="en">
{%include 'base/header.html'%}
{%include 'base/nav.html'%}

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item">Change password</li>
    </ul>
    <br>

    {% load i18n %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span><b> Error - </b> {{ error|escape }}</span>
            </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span><b> Warning - </b> {{ error|escape }}</span>
          </div>
      {% endfor %}
  {% endif %}
      <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-info card-header-text">
              <div class="card-text">
                <h4 class="card-title">Change password</h4>
              </div>
            </div>
          <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
             <!-- {{ form.as_p }} -->
            <div class="card-body ">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Current password</label>
                      <input type="password" id="id_oldpassword" name="oldpassword" class="form-control" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">New password</label>
                      <input type="password" id="id_password1" name="password1" class="form-control" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Repeat password</label>
                      <input type="password" id="id_password2" name="password2" class="form-control" required="">
                    </div>
                  </div>
                </div>
                <button type="submit" name="action" class="btn btn-success pull-left">Change Password</button>
                <div class="clearfix"></div>
            </div>
            </form>
        </div>
    </div>
      {%include 'base/footer.html'%}

</html>
