
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
{%include 'base/header.html'%}
<body class="">
  <div class="wrapper">
    <div class="login-page">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 ml-auto mr-auto">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Extenuating Circumstances Login</h4>
                  <p class="card-category">Fill in your email and password to login</p>

                </div>
                <div class="card-body">
                  <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                            <div class="alert alert-danger">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                              </button>
                              <span><b> Error - </b> {{ error|escape }}</span>
                            </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                            </button>
                            <span><b> Warning - </b> {{ error|escape }}</span>
                          </div>
                      {% endfor %}
                  {% endif %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="text" id="login" name="login" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="password" id="password" name="password" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Login</button>
                    <div class="clearfix"></div>
                  </form>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="center-login-extras">
                    <h6> Click <a href=/accounts/signup>Here</a> to create a new account</h6>
                    <h6>Forgotten your password? Click <a href=/accounts/password/reset>Here</a></h6>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
